## Списки

### Задача №1:

Подается последовательность чисел от 0 до 9 длины **n**. Необходимо вывести все числа, которых не было в последовательности

In [ ]:
is0 = False
is1 = False
# ...
is9 = False

for i in range(n):
    x = int(input())
    if x == 0:
        is0 = True
    elif x == 1:
        # ...

<img src="https://drive.google.com/uc?id=11SfzxmvuYibRG8lNPoR6Iii3bttoJ2c3">

In [ ]:
numbers = []
n = int(input())
for i in range(n):
    x = int(input())
    numbers.append(x) # добавление в список

print(numbers, type(numbers))

In [ ]:
numbers = input().split()

print(numbers, type(numbers))

In [ ]:
numbers = []
n = int(input())
for i in range(n):
    x = int(input())
    numbers.append(x) # добавление в список

for number in range(10):
    if number in numbers:
        print(number)

In [ ]:
# можно сделать проще
# 5 3 4 3 3 3 2 6
numbers = [False] * 10
n = int(input())
for i in range(n):
  x = int(input())
  numbers[x] = True

for i in range(len(numbers)):
  if numbers[i] == False:
    print(i)

### Задача №2:

Создайте массив из 5-ти пятерок

In [1]:
a = [5, 5, 5, 5, 5] # маленький список
b = [5] * 5
c = [5 for i in range(5)] # наиболее быстрый способ
d = list("55555") # элементы являются строчками
e = [] * 5

print(a, type(a), len(a))
print(b, type(b), len(b))
print(c, type(c), len(c))
print(d, type(d), len(d))
print(e, type(e), len(e))

[5, 5, 5, 5, 5] <class 'list'> 5
[5, 5, 5, 5, 5] <class 'list'> 5
[5, 5, 5, 5, 5] <class 'list'> 5
['5', '5', '5', '5', '5'] <class 'list'> 5
[] <class 'list'> 0

In [ ]:
a = [3, 2, 5, 10, 3]

### Задача №1: 
Подается список a = [3, 2, 5, 6,  3, -1, -2, 0].

Выведете следующую информацию:

- длину данной строки.
- третий символ этой строки.
- предпоследний символ этой строки.
- первые пять символов этой строки.
- всю строку, кроме последних двух символов.
- все символы с четными индексами 
- все символы в обратном порядке.
- все символы строки через один в обратном порядке, начиная с последнего.

In [2]:
a = [3, 2, 5, 6, 3, -1, -2, 0]

In [20]:
print(len(a))
print(a[2])
print(a[6], a[len(a) - 2], a[-2])
print(a[0:5])  # правая граница не включается
print(a[0:-2], a[:-2])
print(a[:], a[0:len(a)])
print(a[::2])
print(a[1::2])
print(a[::-1])
print(*reversed(a))

8
5
-2 -2 -2
[3, 2, 5, 6, 3]
[3, 2, 5, 6, 3, -1] [3, 2, 5, 6, 3, -1]
[3, 2, 5, 6, 3, -1, -2, 0] [3, 2, 5, 6, 3, -1, -2, 0]
[3, 5, 3, -2]
[2, 6, -1, 0]
[0, -2, -1, 3, 6, 5, 2, 3]
0 -2 -1 3 6 5 2 3

In [24]:
def my_max(x):
    cur_max = 0
    for i in range(len(x)): # range(len(x)) ~ [0, 1, ..., len(x) - 1]
        if x[i] > cur_max:
            cur_max = x[i]
    return cur_max
    

x = [3, 2, 10, 4, -5, 6]
print(my_max(x))

10

In [30]:
def my_max(x):
    if len(x) == 0:
        return
    print("I'm here")
    cur_max = x[0]
    for elem in x: # elem принимает значения из списка x
        if elem > cur_max:
            cur_max = elem
    return cur_max
    

x = [3, 2, 10, 4, -5, 6]
print(my_max(x))

I'm here
10

In [39]:
def my_max_count(x):
    """
    Функция находит максимум и кол-во его вхождений в список x
    x: list[int]
    result: (int, int)
    """
    if len(x) == 0:
        return None, 0
    cnt = 1
    cur_max = x[0]
    for elem in x[1:]: # elem принимает значения из списка x
        if elem == cur_max:
            cnt += 1
        elif elem > cur_max:
            cur_max = elem
            cnt = 1
    return cur_max, cnt
    

x = [5, 4, 2, 3]
print(my_max_count(x))

(5, 1)

In [40]:
ans = my_max_count(x)
print(type(ans))
print(ans)

<class 'tuple'>
(5, 1)

In [42]:
x[2] = -2
print(x)

[5, 4, -2, 3]

In [43]:
print(ans)
ans[1] = 2
print(ans)

(5, 1)

TypeError: 'tuple' object does not support item assignment

In [45]:
dict({'олово': 102, 'плотва': 3, ['лодка', 'парус']: 10})

TypeError: unhashable type: 'list'

In [46]:
dict({'олово': 102, 'плотва': 3, ('лодка', 'парус'): 10})

{'олово': 102, 'плотва': 3, ('лодка', 'парус'): 10}

In [47]:
a = ['1', 32, True]

In [48]:
b = [[[100, 200, 100], [100, 200, 100], [100, 200, 100], [100, 200, 100]], [100, 200,250]]

In [53]:
b[0][2][1]

200

In [31]:
x = []
print(my_max(x))

None

In [28]:
x = [-1, -1,-1, -1]
print(my_max(x))

-1

In [23]:
print(max(x))
print(min(x))
print(sum(x))
print(sum(x) / len(x))

10
-5
20
3.3333333333333335

### Задача №3:

Подается последовательность чисел длины **n**. Необходимо вывести все квадраты чисел в обратной последовательности.

In [ ]:
n = int(input())
reversed_numbers = [0] * n

for i in range(n):
    x = int(input())
    reversed_numbers[n - i] = x ** 2 # обращение по индексу n
print(reversed_numbers)

In [ ]:
n = int(input())
reversed_numbers = [0] * n

for i in range(n):
    x = int(input())
    reversed_numbers[n - i - 1] = x ** 2 
print(reversed_numbers)

In [ ]:
n = int(input())
numbers = [int(input()) ** 2 for i in range(n)] # все внутри списка, называется генератором списков
print(numbers[::-1])

### Сходства и различия со строками

In [ ]:
s = 'abcdef'
chars = list(s)

print(s[3])
print(chars[3])

print(s + s)
print(chars + chars)

In [ ]:
for letter in s:
    print(letter, end=' ')
    
print()
for elem in chars:
    print(elem, end=' ')

In [ ]:
chars[4] = 'G'
print(chars)

s[4] = 'G'
print(s)

### Задача №4:

Дана последовательность данных типа: "Имя фамилия оценка" длины **n**. Необходимо вывести данные "Фамилия оценка", отсортировав в алфавитном порядке.

In [ ]:
n = int(input())
persons = [0] * n

for i in range(n):
    person = input()
    persons[i] = person
print(persons)

In [ ]:
n = int(input())
persons = [0] * n

for i in range(n):
    persons[i] = input()
print(persons)

In [ ]:
n = int(input())
persons = [0] * n

for i in range(n):
    person = input().split()
    persons[i] = [person[1], person[2]]
print(persons)

In [ ]:
print(persons[1])
print(persons[1][1], type(persons[1][1]))

In [ ]:
n = int(input())
persons = [0] * n

for i in range(n):
    name, person, mark = input().split()
    persons[i] = [person, float(mark)]

persons.sort()
print(persons)

In [ ]:
persons.sort(reverse=True)
print(persons)

In [ ]:
print(*persons)